ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

ADMIN_PASSWORD=Adminpass123!
DOCTOR_PASSWORD=Doctorpass123!
DOCTOR1_PASSWORD=Doctor1pass123!
PATIENT_PASSWORD=Patientpass123!
PATIENT1_PASSWORD=Patient1pass123!